Repository Real-Life-IaC/ch-pubsub: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yamllint, bandit

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: detect-private-key
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: test
        name: Run Tests
        entry: poetry run python -m pytest
        pass_filenames: false
        language: system
        stages: [push]

      - id: checkov
        name: Run Checkov
        entry: poetry run checkov --config-file .checkov --baseline .checkov.baseline
        pass_filenames: false
        language: system
        stages: [push]

      - id: black
        name: Run Black
        entry: poetry run black
        language: system
        types: [file, python]
        stages: [commit]

      - id: isort
        name: Run Isort
        entry: poetry run isort
        language: system
        types: [file, python]
        stages: [commit]

      - id: flake8
        name: Run Flake8
        entry: poetry run pflake8
        language: system
        types: [file, python]
        stages: [commit]

      - id: yamllint
        name: Run Yamllint
        entry: poetry run yamllint
        language: system
        types: [file, yaml]
        stages: [commit]

      - id: bandit
        name: Run Bandit
        entry: poetry run bandit
        language: system
        types: [file, python]
        args:
          [
            --configfile,
            pyproject.toml,
            --severity-level,
            all,
            --confidence-level,
            all,
            --quiet,
            --format,
            custom,
          ]
        stages: [commit]

      - id: commit-message
        name: Check commit message
        entry: poetry run cz check --commit-msg-file
        language: system
        stages: [commit-msg]

fix: action
  .github/workflows/deploy.yaml
Due: yamllint

fix: dummy test
  tests/test_dummy.py
Due: black, isort, flake8, bandit

fix: deps
  poetry.lock
  pyproject.toml
Due: none

feat: replace SNS with event bridge
  infra/constructs/b1/eventbus.py
  infra/constructs/b1/firehose.py
  infra/constructs/b1/storage.py
  infra/constructs/b2/pubsub.py
  poetry.lock
Due: black, isort, flake8, bandit

fix: refactorings while writing the chapter
  infra/constructs/b1/firehose.py
  infra/constructs/b1/storage.py
Due: black, isort, flake8, bandit

feat: add script to produce events
  infra/constructs/b1/eventbus.py
  poetry.lock
  pyproject.toml
  scripts/put_events.py
Due: black, isort, flake8, bandit

fix: final review
  app.py
  infra/constructs/b1/eventbus.py
  infra/constructs/b1/firehose.py
Due: black, isort, flake8, bandit
